<header>
  <div class="top-bar">
    Alix Boulzennec - Psychologue clinicienne & psychothérapeute
  </div>
  <ul class="navigation">
    <li>
      <p>Accueil</p>
    </li>
    <li>
      <p>Qui suis-je?</p>
    </li>
    <li>
      <p>Infos</p>
    </li>
    <li>
      <p>Contact</p>
    </li>
  </ul>
</header>