@import "helpers-dir";

:host {
  header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: $primary;
    color: $white;

    .navigation {
      position: relative;
      width: $header-width;
      height: $navigation-height;
      margin: auto;
      top: $navigation-height / 2;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;

      background-color: $white;
      color: $primary;
      li p {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
      }
    }
  }
}
