@import "helpers-dir";

:host {
  .header-responsive {
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: $primary;
    ul {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      ::ng-deep {
        svg {
          width: 50px;
          path {
            fill: $white;
            stroke: $white;
          }
        }
      }
    }
  }
}
