<div class="header-responsive" >
  <ul>
    <li>
      <app-svg-home></app-svg-home>
    </li>
    <li>
      <app-svg-woman></app-svg-woman>
    </li>
    <li>
      <app-svg-home></app-svg-home>
    </li>
    <li>
      <app-svg-home></app-svg-home>
    </li>
  </ul>
</div>