/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  color: inherit;
  cursor: pointer;
}
html,
body,
.app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: sans-serif;
  color: $txt-light;
  background-color: $site-bkg-color;
}
ul {
  list-style-type: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: none;
  &:focus {
    outline: none;
  }
}
p {
  text-align: center;
}

h1 {
  color: $primary;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body,
input[type="text"],
button {
  color: #333;
  appearance: inherit;
  border-style: inherit;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
