/**************************************
 * Colors
**************************************/
$primary: #369;
$primary-light: #5e5ba2;
$primary-dark: #405061;

$secondary: #eee;

$white: white;
$black: #333333;

$txt-light: $white;
$txt-dark: $black;

$site-bkg-color: $white;

/**************************************
 * Sizes
**************************************/
// Header
$header-width: 75%;
$navigation-height: 50px;

// Content
$content-width: 60%;

/**************************************
 * Animations
**************************************/
$anim-duration: 0.2s;
$anim-duration-long: 0.5s;

/**************************************
 * Media Query
**************************************/
$mobile-s: 400px;
