<app-header *ngIf="isMobile" [@slideInOut]></app-header>
<div class="main-content" [class.mobile]="!isMobile">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing e€lit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat ipsam neque commodi molestias, corrupti maxime. Corporis adipisci architecto sint repellendus culpa quis ipsum velit. Laboriosam sequi corporis et iste.
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat ipsam neque commodi molestias, corrupti maxime. Corporis adipisci architecto sint repellendus culpa quis ipsum velit. Laboriosam sequi corporis et iste.
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat ipsam neque commodi molestias, corrupti maxime. Corporis adipisci architecto sint repellendus culpa quis ipsum velit. Laboriosam sequi corporis et iste.
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat ipsam neque commodi molestias, corrupti maxime. Corporis adipisci architecto sint repellendus culpa quis ipsum velit. Laboriosam sequi corporis et iste.
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat ipsam neque commodi molestias, corrupti maxime. Corporis adipisci architecto sint repellendus culpa quis ipsum velit. Laboriosam sequi corporis et iste.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing e€lit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat ipsam neque commodi molestias, corrupti maxime. Corporis adipisci architecto sint repellendus culpa quis ipsum velit. Laboriosam sequi corporis et iste.
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat ipsam neque commodi molestias, corrupti maxime. Corporis adipisci architecto sint repellendus culpa quis ipsum velit. Laboriosam sequi corporis et iste.
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat ipsam neque commodi molestias, corrupti maxime. Corporis adipisci architecto sint repellendus culpa quis ipsum velit. Laboriosam sequi corporis et iste.
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellat ipsam neque commodi molestias, corrupti maxime. Corporis adipisci architecto sint repellendus culpa quis ipsum velit. Laboriosam sequi corporis et iste.
  <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, iure veritatis est temporibus accusamus amet! Laborum in suscipit quo ut impedit voluptatibus iusto sunt? Distinctio quis beatae hic ratione quam!
  <br>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas asperiores esse aspernatur, voluptatibus, quia maiores harum dicta ipsam laudantium odit, in beatae minima vitae! Aliquid suscipit perferendis ex voluptas sint!
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi facere, consectetur delectus consequatur soluta saepe eos, ducimus repellat labore fuga laudantium atque ipsum magni mollitia sequi ea deserunt eaque!
  <br>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
<app-header-responsive *ngIf="!isMobile" [@slideInOut]></app-header-responsive>