@import "helpers-dir";

:host {
  .main-content {
    padding: 20px;
  }
  // This applies from 600px onwards
  @media (min-width: $mobile-s) {
    .main-content {
      width: $content-width;
      margin: auto;
    }
  }
}
