<svg xmlns="http://www.w3.org/2000/svg" class="svg-info" viewBox="0 0 500 500">
  <path d="M249.76,75a21.94,21.94,0,1,1-21.68,21.86A21.93,21.93,0,0,1,249.76,75Z" />
  <rect x="227.99" y="151.36" width="43.85" height="273.64" rx="21.93"
    transform="translate(499.84 576.36) rotate(-180)" />
</svg>