<svg xmlns="http://www.w3.org/2000/svg" class="svg-info-circle" viewBox="0 0 500 500">
    <path
      d="M252.55.48C113.27-.44.55,109.76-.62,247.63A249.56,249.56,0,0,0,248.38,500c138.31.56,250.54-110.64,251.34-249C500.5,114.61,388.51,1.37,252.55.48Zm-4.47,478.84C123,479.49,20,376.09,20,250.35,20,124,122.66,21.32,249.09,21.22c127.13-.11,230,102.55,229.91,229.52C479,377.33,376.09,479.16,248.08,479.32Z" />
    <path d="M249.34,100.24A18.81,18.81,0,1,1,230.76,119,18.79,18.79,0,0,1,249.34,100.24Z" />
    <rect x="230.68" y="165.68" width="37.59" height="234.55" rx="17.84"
      transform="translate(498.95 565.92) rotate(-180)" />
</svg>